# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da prática" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Bibliotecas

### Aquecimento

#### Questão 1

Escreva um código para instalar a versão `3.7.1` da biblioteca `matplotlib`

In [ ]:
!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.16.0)

#### Questão 2

Escreva um código para importar a biblioteca `numpy` com o alias `np`

In [ ]:
import numpy as np

#### Questão 3
Crie um programa que lê a seguinte lista de números e escolha um número desta aleatoriamente.
```
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
```

In [ ]:
from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]


print(f'O número escolhido foi o {choice(lista)}')

O número escolhido foi o 77

#### Questão 4

Crie um programa que sorteia aleatoriamente um número inteiro menor que 100.
> Dica: use a função [`randrange()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `random`. Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo. Por exemplo, `randrange(5)` gera valores inteiros menores que 5.

In [ ]:
import random

numero_aleatorio = random.randrange(1, 101)
numero_aleatorio

86

#### Questão 5
Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
> Dica: use a função [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`

In [ ]:
from math import pow

base = int(input('Digite o valor da base: '))
expoente = int(input('Digite o valor do expoente: '))

resultado = pow(base, expoente)
resultado

Digite o valor da base: 2
Digite o valor do expoente: 4

16.0

### Aplicando a projetos

#### Questão 6
Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.

Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
from random import randrange

qtd_participantes = int(input('Digite a quantidade de participantes: '))

vencedor = randrange(qtd_participantes)
vencedor

Digite a quantidade de participantes: 2000

102

#### Questão 7

Você recebeu uma demanda para gerar números de token para o acesso ao aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e gera uma mensagem junto a esse token gerado aleatoriamente:

`"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"`

In [ ]:

nome = input('Digite seu nome: ')
token = randrange(1000, 9999, 2)

print(f'Olá, {nome.upper()}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

Digite seu nome: felipe
Olá, FELIPE, o seu token de acesso é 5440! Seja bem-vindo(a)!


#### Questão 8
Para diversificar e atrair novos clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 frutas para compor a salada de frutas da pessoa cliente.

Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

```
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
```

In [ ]:
from random import choices

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

salada = choices(frutas, k=3)

print(f"A salada surpresa é: {salada[0]}, {salada[1]} e {salada[2]}")

A salada surpresa é: abacaxi, melancia e banana

#### Questão 9
Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
```
numeros = [2, 8, 15, 23, 91, 112, 256]
```

Informe no final quais números possuem raízes inteiras e seus respectivos valores.

> Dica: use a comparação entre a divisão inteira da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
```
num = 1.5
num_2 = 2
print(f'{num} é inteiro? :', num // 1 == num)
print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
```
Saída:
```
1.5 é inteiro? : False
2 é inteiro? : True
```

In [ ]:
numeros = [2, 8, 15, 23, 91, 112, 256]

In [ ]:
from math import sqrt

In [ ]:
raizes = []

for i in range(0, len(numeros)):
  raiz = sqrt(numeros[i])
  raizes.append(raiz)

for x in range(0, len(raizes)):
  if raizes[x] // 1 == raizes[x]:
    print(f'O número {numeros[x]} possui raiz inteira, sendo ela o número {raizes[x]} ')

O número 256 possui raiz inteira, sendo ela o número 16.0

#### Questão 10
Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.  

> Dica: use a variável [`pi`](https://docs.python.org/pt-br/3/library/math.html#math.pi) e o método [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`. O cálculo de área de um círculo é de: $Area = \pi \times r^2$

In [ ]:
from math import pi

In [ ]:
raio = float(input('Digite o raio da área que deseja semar: '))

circunferencia = pi * pow(raio, 2)

valor = 25 * circunferencia

print(f'O valor do orçamento é de R${round(valor,2)}')

Digite o raio da área que deseja semar: 5
O valor do orçamento é de R$1963.5

## Aula 2 - Funções

### Aquecimento

#### Questão 1

Escreva um código que lê a lista abaixo e faça:

```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
```

- A leitura do tamanho da lista
- A leitura do maior e menor valor
- A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

```
"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores pares presentes nela é igual a [soma]"
```

> Dica: use as funções embutidas presentes na [documentação do Python](https://docs.python.org/3/library/functions.html)

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

In [ ]:
print(f'A lista possui {len(lista)} números em que o maior número é {max(lista)} e o menor número é {min(lista)}. A soma dos valores pares presentes nela é igual a {sum(lista)}')

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores pares presentes nela é igual a 743

#### Questão 2

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70
```

In [ ]:
numero = int(input('Digite o número que deseja ver a tabuada: '))

multiplicador = 0

while multiplicador <= 10:
  print(f'{numero} x {multiplicador} = {numero*multiplicador}')
  multiplicador += 1

Digite o número que deseja ver a tabuada: 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

#### Questão 3
Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

```
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
```

Utilize o `return` na função e salve a nova lista na variável `mult_3`.

In [ ]:
lista_numeros = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

In [ ]:
mult_3 = map(lambda x: x * 3, lista_numeros)
mult_3 = list(mult_3)
mult_3

[291, 240, 282, 264, 240, 3, 48, 159, 186, 96, 72, 297]

#### Questão 4
Crie uma lista dos quadrados dos números da seguinte lista `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

Lembre-se de utilizar as funções lambda e `map()` para calcular o quadrado de cada elemento da lista.

In [ ]:
from math import pow
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
quadrado_lista = map(lambda x: int(pow(x,2)), lista)
quadrado_lista = list(quadrado_lista)
quadrado_lista

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Aplicando a projetos

#### Questão 5

Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas dos(as) skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

Retorne a média para apresentar o texto:
`"Nota da manobra: [media]"`

In [ ]:
notas = []

for i in range(5):
  notas.append(float(input(f'Digite a {i + 1}ª nota: ')))

notas.sort()

Digite a 1ª nota: 9.9
Digite a 2ª nota: 9.8
Digite a 3ª nota: 10
Digite a 4ª nota: 9.7
Digite a 5ª nota: 9.9

In [ ]:
media_notas = lambda x: sum(x[1:4]) / len(x[1:4])
media_notas = round(media_notas(notas),1)

print(f'Nota da manobra: {media_notas}')

Nota da manobra: 9.9

#### Questão 6

Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:
- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:
```
"O(a) estudante obteve uma media de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"
```

In [ ]:
notas_alunos = []

for i in range(4):
  notas_alunos.append(float(input(f'Digite a {i + 1}ª nota: ')))

media = sum(notas_alunos) / len(notas_alunos)
media = round(media, 1)

if media > 6:
  situacao = 'Aprovado'
else:
  situacao = 'Reprovado'

print(f'O(a) estudante obteve uma media de {media}, com a sua maior nota de {max(notas_alunos)} pontos e a menor nota de {min(notas_alunos)} pontos e foi {situacao}')

Digite a 1ª nota: 7
Digite a 2ª nota: 5
Digite a 3ª nota: 2
Digite a 4ª nota: 5
O(a) estudante obteve uma media de 4.8, com a sua maior nota de 7.0 pontos e a menor nota de 2.0 pontos e foi Reprovado

#### Questão 7

Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma `Nome Sobrenome`.

As listas são:
```
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]
```

O texto exibido ao fim deve ser parecido com:
```
"Nome completo: Ana Silva"
```

> Dica: Utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

#concatenando os nomes
#É utilizado o sinal "+" para concatenar e as aspas vazias servem para dar um espaço ao texto, ou seja, está sendo concatenado um espaço vazio junto com o texto
#A função zip() em Python é uma ferramenta poderosa para combinar elementos correspondentes de múltiplos iteráveis (como listas, tuplas, etc.) em tuplas. Com zip(), você pode criar pares (ex.: nome, idade) de forma eficiente.
nomes_concatenados = [nomes + " " + sobrenomes for nomes, sobrenomes in zip(nomes, sobrenomes)]

#Utilizando o lambda e map para corrigir a grafia
nomes_corrigidos = map(lambda x: x.title(), nomes_concatenados)

#Transformando novamente em lista
nomes_corrigidos = list(nomes_corrigidos)

#exibindo na tela
nomes_corrigidos

['João Silva', 'Maria Souza', 'José Tavares']

#### Questão 8
Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo.

Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada `calcula_pontos` que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato.

A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

> Observação: Se a quantidade de gols marcados numa partida for maior que a de sofridos, o time venceu. Caso seja igual, o time empatou e se for menor, o time perdeu. Para calcular o aproveitamento devemos fazer a razão entre a pontuação do time pela pontuação máxima que ele poderia receber.

Para teste, utilize as seguintes listas de gols marcados e sofridos
```
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]
```

Provável texto exibido:
```
"A pontuação do time foi de [pontos] e seu aproveitamento foi de [aprov]%"
```

In [ ]:
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

In [ ]:
#função para cálculo de pontos para cada time levando em consideração os gols marcados e gols sofridos.
#vencer: 3 pontos
#empate: 1 ponto
#derrota: 0 pontos

def calcula_pontos(gols_feitos, gols_tomados):
  pontos = 0

  for i in range(len(gols_feitos)):
    if gols_feitos[i] > gols_tomados[i]:
      pontos = pontos + 3
    elif gols_feitos[i] == gols_tomados[i]:
      pontos = pontos + 1

  return pontos


print(f'A pontuação do time foi de {calcula_pontos(gols_marcados, gols_sofridos)} e seu aproveitamento foi de {round((calcula_pontos(gols_marcados, gols_sofridos))/ (len(gols_marcados) * 3) * 100, 2)}%')

A pontuação do time foi de 7 e seu aproveitamento foi de 46.67%

#### Questão 9

Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de `[200, 400, 250, 300]`, respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente `[850, 800, 300, 550]` km, crie três funções nas quais a 1ª calcule os gastos com hotel (`gasto_hotel`), a 2ª calcule os gastos com a gasolina (`gasto_gasolina`) e a 3ª os gastos com passeio e alimentação (`gasto_passeio`).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.
```
"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"
```

In [ ]:
#cidades partindo de Recife: [Salvador, Fortaleza, Natal e Aracaju]
#diária do hotel R$150
#consumo gasolina 14km/l
#valor gasolina R$5 por litro
#gasto por dia com passei o e alimentação respectivamente: [200, 400, 250, 300]
#distância das cidades respectivamente: [850, 800, 300, 550]

In [ ]:
cidades = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']
distancia = [850, 800, 300, 550]
valor_passeio = [200, 400, 250, 300]

In [ ]:
def gasto_hotel(dias):
  diaria_hotel = 150
  valor_hospedagem = dias * diaria_hotel
  return valor_hospedagem

def gasto_gasolina(cidade):
  consumo_gasolina = 14
  valor_gasolina = 5
  i = cidades.index(cidade)

  gasolina_gasta = distancia[i] / consumo_gasolina
  abastecimento = round(gasolina_gasta * valor_gasolina, 2)
  return abastecimento

def gasto_passeio(local, tempo):
  i = cidades.index(local)
  valor_total = round(valor_passeio[i] + gasto_gasolina(local) + gasto_hotel(tempo), 2)
  return valor_total

cidade_escolhida = input('Digite qual foi a cidade escolhida: ')
cidade_escolhida = cidade_escolhida.title()
qtd_dias = int(input('Digite quantos dias pretende ficar na cidade: '))



print(f'Com base nos gastos definidos, uma viagem de {qtd_dias} dias para {cidade_escolhida} saindo de Recife custaria {gasto_passeio(cidade_escolhida, qtd_dias)} reais')

Digite qual foi a cidade escolhida: Fortaleza
Digite quantos dias pretende ficar na cidade: 5
Com base nos gastos definidos, uma viagem de 5 dias para Fortaleza saindo de Recife custaria 1435.71 reais

#### Questão 10

Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

> Dica: utilize as funções lambda e [`filter()`](https://docs.python.org/pt-br/3/library/functions.html?highlight=filter#filter) para filtrar essas palavras. Lembrando que a função embutida `filter()` recebe uma função (no nosso exemplo uma função lambda) e filtra um iterável de acordo com a função. Para tratar a frase use `replace()` para trocar a ',' '.', '!' e '?' por espaço.

Use a frase `"Aprender Python aqui na Alura é muito bom"`para testar o código

In [ ]:
frase = input('Digite a frase escolhida: ')

Digite a frase escolhida: Aprender Python aqui na Alura é muito bom

In [ ]:
# Requisitando uma frase e separando-a pelos espaços. Usando replace para trocar
# pontuações por espaço.
frase = input("Digite uma frase: ")
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()

# Filtrando a frase no formato de lista, passando para a lista tamanho
# apenas as palavras com 5 ou mais caracteres e imprimindo-a na tela
tamanho = list(filter(lambda x: len(x) >= 5, frase))
print(tamanho)

Digite uma frase: Aprender Python aqui na Alura é muito bom
['Aprender', 'Python', 'Alura', 'muito']

## Aula 3 - Estrutura de dados compostas

### Aquecimento

#### Questão 1

Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [ ]:
def soma(lista: list=[0]) -> float:
  return sum(lista)

In [ ]:
soma_da_lista = [soma(lista) for lista in lista_de_listas]
soma_da_lista

[24, 10, 16]

#### Questão 2

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
```
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [ ]:
terceiro_elemento = [item[2] for item in lista_de_tuplas]
terceiro_elemento

[81, 67, 83]

#### Questão 3
A partir da lista: `lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']`, crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [ ]:
nome = [item for item in lista]
index = [lista.index(posicao) for posicao in lista]

tupla = tuple(zip(index, nome))
tupla

((0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo'))

#### Questão 4
Crie uma lista usando o list comprehension, que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento' a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [ ]:
valor = [numero[1] for numero in aluguel if numero[0] == 'Apartamento']
valor

[1700, 1400, 1900]

#### Questão 5

Crie um dicionário usando o dict comprehension em que as chaves estão na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores estão na lista `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [ ]:
dicionario = dict(zip(meses, despesa))
dicionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

### Aplicando a projetos

#### Questão 6

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [ ]:
valores = [valores[1] for valores in vendas if valores[0] == '2022' and valores[1] > 6000]
valores

[8883, 7688, 9544, 8190]

#### Questão 7

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [ ]:
hipoglicemia = [valor for valor in glicemia if valor <= 70]
normal = [valor for valor in glicemia if valor > 70 and valor <= 99]
alterada = [valor for valor in glicemia if valor > 100 and valor <= 125]
diabetes = [valor for valor in glicemia if valor > 125]

print(hipoglicemia, normal, alterada, diabetes)

[60, 65, 62, 53, 58, 66, 62, 52] [82, 97, 87, 92, 86, 96, 88, 89, 73] [101, 120, 109, 103] [129, 167, 155]

#### Questão 8
Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [ ]:
total = [x * y for x, y in zip(quantidade, preco)]
total

[1395.0, 1224.0, 18.0, 615.0, 244.0, 154.0, 142.0, 576.0, 28.0, 576.0]

#### Questão 9

Uma empresa possui filiais espalhadas nos estados da região sudeste do Brasil. Em uma das tabelas de cadastro das filiais, há uma coluna contendo a informação de qual é o estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada estado. A partir da coluna com a informação dos estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um estado e o valor sendo a contagem de vezes em que o estado aparece na lista.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um estado com valores repetidos.

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

In [ ]:
estados_isolados = set(estados)

total_estados = {estado: estados.count(estado) for estado in estados_isolados}

total_estados

{'SP': 8, 'RJ': 2, 'ES': 6, 'MG': 7}

#### Questão 10

Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de funcionários e o gestor gostaria de ter um agrupamento da soma de funcionários para cada estado. As informações contidas na tabela são:

```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos estados únicos e os valores são as listas com o número de funcionários referentes ao estado. Crie também um dicionário em que as chaves são os nomes dos estados e os valores são a soma de funcionários(as) por estado.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários de cada estado.

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

In [ ]:
# Armazenando os estados sem repetição de valor
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

# Criando uma lista de listas com valores de funcionários de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário com dados agrupados de funcionário por estado
agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

# Criando um dicionário com a soma de funcionários por estado
soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

[[16, 10, 7, 11, 9, 12, 7, 10], [13, 9], [9, 6, 4, 8, 5, 10, 12], [8, 9, 7, 12, 8, 14]]
{'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'RJ': [13, 9], 'MG': [9, 6, 4, 8, 5, 10, 12], 'ES': [8, 9, 7, 12, 8, 14]}
{'SP': 82, 'RJ': 22, 'MG': 54, 'ES': 58}

## Aula 4 - Lidando com exceções

### Aquecimento

#### Questão 1

Faça um programa que solicite à pessoa usuária digitar dois números `float` e calcular a divisão entre esses números. O código deve conter um tratamento de erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

Teste o programa com o segundo valor numérico do input igual a 0 e também teste utilizando caracteres textuais no input para checar os tipos de erro que ocorrem.

In [ ]:
def divisao():
    try:
      dividendo = float(input('Digite o dividendo: '))
      divisor = float(input('Digite o divisor: '))
      resultado = dividendo/divisor
      return resultado
    except ValueError:
      print('O valor digitado não é um número válido')
    except ZeroDivisionError:
      print('Não é possível realizar a divisão por 0!')

divisao()

Digite o dividendo: 2
Digite o divisor: 0
Não é possível realizar a divisão por 0!

#### Questão 2

Faça um programa que solicite à pessoa usuária digitar um texto que será uma chave a ser pesquisada no seguinte dicionário: `idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}`, armazenando o resultado do valor em uma variável. O código deve conter um tratamento de erro `KeyError`, imprimindo a informação 'Nome não encontrado' caso ocorra o erro e imprimir o valor caso não ocorra nenhum.

Teste o programa com um nome presente em uma das chaves do dicionário e com um que não esteja no dicionário para verificar a mensagem de erro.

In [ ]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

In [ ]:
try:
  nome = input('Digite um nome que você gostaria de saber a idade: ')
  idade = idades[nome]
except KeyError:
  print('O nome digitado não faz parte da lista!')
else:
  print(f'O(A) {nome} está atualmente com {idade} anos')

Digite um nome que você gostaria de saber a idade: Carol
O(A) Carol está atualmente com 23 anos

#### Questão 3
Crie uma função que recebe uma lista como parâmetro e converta todos os valores da lista para `float`. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro. Por fim, deve ter a cláusula `finally` para imprimir o texto: 'Fim da execução da função'.

In [ ]:
def abc(lista):
  nova_lista = [float(item) for item in lista]
  print(type(nova_lista[0]))
  return nova_lista

lista_1 = [5.0, '5', '8', '1', '3']
abc(lista_1)

<class 'float'>

[5.0, 5.0, 8.0, 1.0, 3.0]

In [ ]:

def conversor(lista):
  try:
    nova_lista = [float(item) for item in lista]
    return nova_lista
  except ValueError:
    print('A lista em questão possui um ou mais elementos que não podem ser convertidos.')
  finally:
    print('Fim da execução da função.')


lista_1 = ['6', '5', '8', '1', '3']
conversor(lista_1)

Fim da execução da função.

[6.0, 5.0, 8.0, 1.0, 3.0]

#### Questão 4
Crie uma função que recebe duas listas como parâmetros e agrupe os elementos um a um das listas, formando uma lista de tuplas de 3 elementos, onde o primeiro e segundo elemento da tupla são os valores na posição `i` das listas e o terceiro elemento é a soma dos valores na posição `i` das listas. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar como resultado a lista de tuplas. Caso as listas enviadas como parâmetro tenham tamanhos diferentes, a função deve retornar um IndexError com a frase: 'A quantidade de elementos em cada lista é diferente.'

Dados para testar a função:

Valores sem erro:
```
lista1 = [4,6,7,9,10]
lista 2 = [-4,6,8,7,9]
```
Listas com tamanhos diferentes:

```
lista1 = [4,6,7,9,10,4]
lista 2 = [-4,6,8,7,9]
```
Listas com valores incoerentes:

```
lista1 = [4,6,7,9,'A']
lista 2 = [-4,'E',8,7,9]
```

In [ ]:
lista1 = [4,6,7,9,10]
lista2 = [-4,6,8,7,9]

In [ ]:
def agrupamento(lista_1, lista_2):
  try:
    if len(lista_1) != len(lista_2):
      raise IndexError('A quantidade de elementos em cada lista é diferente.')
    nova_tupla = [numero[0] + numero[1] for numero in zip(lista_1, lista_2)]
    tupla_final = list(zip( lista_1, lista_2, nova_tupla))
    return tupla_final
  except TypeError:
    print('Um ou mais valores das listas passadas não estão formatados corretamente. Verifique os valores inseridos e tente novamente.')
  except IndexError as e:
    print(e)

agrupamento(lista1, lista2)

[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]

### Aplicando a projetos

#### Questão 5

Você recebeu como desafio desenvolver um código que contabiliza as pontuações de estudantes de uma instituição de ensino de acordo com suas respostas num teste.

Este código deve ser testado para um exemplo de 3 estudantes com uma lista de listas em que cada lista possui as respostas de 5 questões objetivas de cada estudante. Cada questão vale um ponto e as alternativas possíveis são A, B, C ou D.

Caso alguma alternativa em um dos testes não esteja entre as alternativas possíveis você deve lançar um **ValueError** com a mensagem `"A alternativa [alternativa] não é uma opção de alternativa válida"`. O cálculo das 3 notas só será realizado mediante as entradas com as alternativas A, B, C ou D em todos os testes.

Se não for lançada a exceção, será exibida uma lista com as notas em cada teste.

Os dados para o teste do código são:

- **Gabarito da prova**:
```
gabarito = ['D', 'A', 'B', 'C', 'A']
```
Abaixo temos 2 listas de listas que você pode usar como teste

- **Notas sem exceção:**
```
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
```
- **Notas com exceção:**
```
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
```

> Dica: Para verificar se uma entrada da lista não está entre as alternativas possíveis use a estrutura `lista[i] not in ['A','B','C','D']` (Por exemplo, `1 not in [2,3,4]`... Saída: `True`)

True
True
False

In [ ]:
gabarito = ['D', 'A', 'B', 'C', 'A']
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]

In [ ]:
# Função para correção das notas

# Criando a função que recebe a lista de listas com as notas dos estudantes
def corretor(testes: list):
  pontuacoes = [] # criando a lista que receberá as pontuações caso a exceção não seja lançada
  try:
    for teste in testes:
      nota = 0 # variável que acumula a nota de cada estudante
      for i in range(len(teste)):
        if teste[i] not in ['A', 'B', 'C', 'D']: # Verificamos se temos uma alternativa valida
          raise ValueError(f'A alternativa {teste[i]} não é uma opção de alternativa válida')
        elif teste[i] == gabarito[i]: # Verificamos se as respostas são iguais e adicionamos à nota
          nota += 1
      pontuacoes.append(nota) # adicionamos a nota do(a) estudante na lista de pontuações
  except Exception as e:
    print(e)
  else:
    return pontuacoes # retornando a lista de pontuações se não lançarmos a exceção

In [ ]:
# Testando no exemplo que não lança exceção
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
corretor(testes_sem_ex)

[5, 3, 3]

In [ ]:
# Testando no exemplo que lança exceção
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
corretor(testes_com_ex)

A alternativa E não é uma opção de alternativa válida

#### Questão 6

Você está trabalhando com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)) e, dessa vez, sua líder requisitou que você criasse um trecho de código que recebe uma lista com as palavras separadas de uma frase gerada pelo ChatGPT.

Você precisa criar uma função que avalia cada palavra desse texto e verificar se o tratamento para retirar os símbolos de pontuação (',' '.', '!' e '?') foi realizado. Caso contrário, será lançada uma exceção do tipo **ValueError** apontando o 1º caso em que foi detectado o uso de uma pontuação por meio da frase `"O texto apresenta pontuações na palavra "[palavra]"."`.

Essa demanda é voltada para a análise do padrão de frases geradas pela inteligência artificial.

> Dica: Para verificar se uma ou mais das pontuações estão presentes em cada palavra, utilize a palavra chave `or` na condição if (Por exemplo, `('a' or 'b') in 'alura'` ... Saída: `True`)

Os dados para o teste do código são:

- **Lista tratada:**
```
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                  'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']
```
- **Lista não tratada:**
```
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                  'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']
```

In [ ]:
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']


lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']


for i in range(len(lista_tratada)):
  if 'Python' in lista_tratada[i]:
    print('ok')

ok

In [ ]:
# criando a função que recebe a lista de palavras
def verificacao(lista: list):
  for i in range(len(lista)):
    try:
      if ('!' or '?' or ',' or '.') in lista[i]:
        raise ValueError(f'A lista em questão não foi tratada corretamente')
    except ValueError as e:
      print(e)

In [ ]:
# Testando no exemplo que não lança exceção
verificacao(lista_tratada)

In [ ]:
# Testando no exemplo que lança exceção
verificacao(lista_nao_tratada)

A lista em questão não foi tratada corretamente

#### Questão 7
Você foi contratado como uma pessoa cientista de dados para auxiliar um laboratório que faz experimentos sobre o comportamento de uma cultura de fungos. O laboratório precisa avaliar constantemente a razão (divisão) entre os dados de pressão e temperatura do ambiente controlado recolhidos durante a experimentação para definir a melhor condição para os testes.

Para cumprir com a demanda, você precisa criar uma função `divide_colunas` que recebe os dados das colunas de pressão e temperatura (que vem no formato de listas) e gerar uma nova coluna com o resultado da divisão. Os parâmetros da função são as duas listas e você deve tratar dentro dela ao menos 2 tipos de exceções:   
- Verificar se as listas têm o mesmo tamanho (ValueError)
- Verificar se existe alguma divisão por zero (ZeroDivisionError)

Para testar a função, vamos realizar a divisão entre duas listas de dados coletados no experimento, com os valores de pressão e temperatura do ambiente controlado.

Como teste, use os seguintes dados:

- **Dados sem exceção:**
```
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]
```
- **Dados com exceção:**
1. Exceção de ZeroDivisionError
```
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]
```
2. Exceção de ValueError
```
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]
```

> Dica: Você pode usar `zip()` para parear os dados da lista_1 com a lista_2. Crie uma estrutura try-except que caso uma das exceções sejam lançadas, podemos ver o tipo de erro na saída.

In [ ]:
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]

In [ ]:
#Exceção de ZeroDivisionError
pressoes2 = [60, 120, 140, 160, 180]
temperaturas2 = [0, 25, 30, 35, 40]

In [ ]:
#Exceção de ValueError
pressoes3 = [100, 120, 140, 160]
temperaturas3 = [20, 25, 30, 35, 40]

In [ ]:
# Testando no exemplo que não lança exceção
def divide_colunas(pressao: list, temp: list):
  resultado = []
  try:
    for i in range(len(pressao)):
      if len(pressao) != len(temp):
        raise ValueError('As listas informadas não possuem a mesma quantidade de elementos.')
      elif temp[i] == 0:
        raise ZeroDivisionError('Não é possível dividir por 0')
      else:
        resultado.append(round(pressao[i] / temp[i], 1))
    return resultado
  except Exception as e:
    print(e)



divide_colunas(pressoes, temperaturas)

[5.0, 4.8, 4.7, 4.6, 4.5]

In [ ]:
# Testando no exemplo que lança exceção (ZeroDivisionError)
divide_colunas(pressoes2, temperaturas2)

Não é possível dividir por 0

In [ ]:
# Testando no exemplo que lança exceção (ValueError)
divide_colunas(pressoes3, temperaturas3)

As listas informadas não possuem a mesma quantidade de elementos.